* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #6b8297;
}

@font-face {
    font-family: 'lora';
    src: url('./fonts/lora-variablefont_wght-webfont.woff2') format('woff2'),
    url('./fonts/lora-variablefont_wght-webfont.woff') format('woff'),
    url('./fonts/lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
    url('./fonts/lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'lora';
    background: url('./img/26124.jpg');
    background-position: center top;
    background-size: 1500px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'lora';
    border-style: none;
    border: 3px solid var(--accent-color);
    padding: 12px 20px;
}

header {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

/* Add style to homepage */

.homeImg {
    border: 8px solid whitesmoke;
    margin: 16px;
}

.homeName {
    color: var(--accent-color);
    font-size: 3rem;
}

.homeText,
.homeSchedule {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.6);
    font-size: 1.2rem;
    padding: 16px;
}

.homeSchedule {
    text-align: center;
    align-items: center;
}

/* Add style to menupage */

.title {
    font-size: 3rem;
    color: var(--accent-color);
}

.menuImg {
    border: 8px solid whitesmoke;
    width: 600px;
}

.menuName,
.menuPrice {
    text-align: center;
}

.menuItems {
    padding: 16px;
}

/* Addd style to contactPage */

.contactPhone,
.contactEmail,
.contactForm {
    background-color: rgba(245, 245, 245, 0.6);
    width: 400px;
    text-align: center;
    padding: 12px;
}

form > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    display: block;
}

input,
textarea {
    width: 300px;
}

input {
    height: 1.4rem;
}

textarea {
    height: 200px;
}
